<section class="first" id="first">
    <section class="first" id="first">
    <div class="top-row">
        <div class="mbox">
            <div class="content">
                <h2>Вам нужна помощь <br/> в защите чести и достоинства?</h2>
                <p>Доверьте это профессионалам</p>
            </div>     
        </div>   
    </div>
    <div class="first-wrap">
        <div class="mbox">
            <div class="man-side">
                <div class="dial">
                    <p>Богатый опыт юридической практики. <br /> Помогаем людям более 12 лет</p>
                </div>
                <div class="foto">
                    <img src="images/man1.png" alt="">
                </div>
            </div>
            <div class="form-side">
                <form action="ajax.php" name="" class="two-form">
                    <div class="contact-form-title">
                        <h5>Задайте вопрос адвокату</h5>
                        <p>и мы свяжемся с вами в течение 1 часа</p>
                    </div>
                    <div class="contact-form-row cfix">
                        <div class="contact-form-item">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input">
                                    <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input">
                                    <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш номер" class="tel-mask">
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input">
                                    <textarea name="vopros" placeholder="Ваше Имя"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-row cfix">
                        <div class="contact-form-item">
                            <button type="submit" class="contact-submit">
                                <span>Отправить заявку</span>
                            </button>
                        </div>
                    </div>
                    <div class="aftertext">
                        <p> В соответствии с Законом «Об адвокатуре и адвокатской деятельности» мы гарантируем гарантируем полную анонимность всех консультаций. </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
